/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin
/bin/
!bin/fix-permission.sh
bower_components/
/composer.phar
fabfile.pyc
.idea
/src/Webfit/MO/CoreBundle/Resources/public/vendor/*
/vendor/
/web/app.php
/web/bundles/
/web/css/*
/web/js/*
/web/uploads/
