html,
body {
  max-width: 100%;
  overflow-x: hidden !important;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: #000000;
  line-height: 1.5em;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  font-weight: 300;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}
@media screen and (min-width: 767px) and (max-width: 964px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in,
  .navbar-toggle {
    display: block!important;
  }
}
.gray_grad {
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0);
}
.container {
  max-width: 964px;
}
@media screen and (max-width: 991px) {
  .container {
    width: 100%;
  }
}
.container.football .f_h {
  display: block;
}
.container.tennis .t_h {
  display: block;
}
.container.tv .tv_h {
  display: block;
}
.container.femail .fem_h {
  display: block;
}
.top_line {
  font-size: 10pt;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 5px;
}
.top_line .social_line {
  position: relative;
  padding-top: 10px;
  float: left;
}
.top_line .social_line .twitter-follow-button[style] {
  vertical-align: middle !important;
}
.top_line .date,
.top_line .weather {
  position: relative;
  padding-top: 10px;
  float: right;
}
.top_line .weather {
  padding-left: 10px;
  text-align: right;
}
.top_line .weather .pl20 {
  padding-left: 20px;
}
.top_line .weather span {
  color: #666666;
}
.top_line .weather span.last {
  color: #36C;
  font-weight: 700;
}
.top_line .weather .icn-w {
  background-image: url(../images/spt_weather_nav.png);
  font-size: 1px;
  line-height: 1px;
  width: 18px!important;
  height: 16px!important;
  position: absolute;
}
.top_line .weather .rain {
  background-position: -240px -2px;
}
.for_logo {
  border-bottom: 2px solid #cccccc;
  padding: 10px 0;
}
.for_logo img.logo {
  float: left;
}
.for_logo .header_image {
  float: right;
}
.for_logo .tv_h,
.for_logo .f_h,
.for_logo .t_h,
.for_logo .fem_h {
  display: none;
}
.navbar-toggle {
  margin-right: 0;
  padding-right: 0;
}
.navbar-toggle .icon-bar {
  border: 1px solid grey;
}
.navbar {
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0);
  min-height: 0;
}
.navbar > .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li,
.navbar .nav > li > a {
  font-size: 15px;
  font-weight: bold;
}
.navbar .nav .dropdown-menu a {
  font-weight: bold;
  font-size: 9pt;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar .nav .dropdown-menu {
    width: 600px;
  }
  .navbar .nav .dropdown-menu li {
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    min-height: 0;
    border-radius: 0;
    border-bottom: 0;
  }
  .navbar .nav {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    padding-left: 0;
    padding-right: 0;
    height: 29px;
  }
  .navbar .nav li a {
    padding: 5px 5px;
  }
  .navbar .nav li.hidden-xs {
    font-weight: 100;
    padding: 3px 0;
    font-size: 0.8em;
    border-right: 1px solid #000000;
    height: 18px;
    margin-top: 5px;
  }
  .navbar .nav li.dropdown.open {
    position: static;
  }
  .navbar .nav li.dropdown.open > a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .navbar .nav li.dropdown.open .dropdown-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    border-radius: 0;
    padding: 0 0 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    left: -1px;
  }
  .navbar .nav li.dropdown.open .dropdown-menu li.hidden-xs {
    border-color: #ffffff;
  }
  .navbar .nav li.dropdown.open a {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(1) > a:hover {
    color: #004db3;
  }
  .navbar .nav > li:nth-child(1).open a,
  .navbar .nav > li:nth-child(1).open .dropdown-menu {
    background-color: #004db3;
  }
  .navbar .nav > li:nth-child(1).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(1).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(3) > a:hover {
    color: #00aad2;
  }
  .navbar .nav > li:nth-child(3).open a,
  .navbar .nav > li:nth-child(3).open .dropdown-menu {
    background-color: #00aad2;
  }
  .navbar .nav > li:nth-child(3).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(3).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(5) > a:hover {
    color: #000000;
  }
  .navbar .nav > li:nth-child(5).open a,
  .navbar .nav > li:nth-child(5).open .dropdown-menu {
    background-color: #000000;
  }
  .navbar .nav > li:nth-child(5).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(5).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(7) > a:hover {
    color: #0cac0c;
  }
  .navbar .nav > li:nth-child(7).open a,
  .navbar .nav > li:nth-child(7).open .dropdown-menu {
    background-color: #0cac0c;
  }
  .navbar .nav > li:nth-child(7).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(7).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(9) > a:hover {
    color: #e01c44;
  }
  .navbar .nav > li:nth-child(9).open a,
  .navbar .nav > li:nth-child(9).open .dropdown-menu {
    background-color: #e01c44;
  }
  .navbar .nav > li:nth-child(9).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(9).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(11) > a:hover {
    color: #004db3;
  }
  .navbar .nav > li:nth-child(11).open a,
  .navbar .nav > li:nth-child(11).open .dropdown-menu {
    background-color: #004db3;
  }
  .navbar .nav > li:nth-child(11).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(11).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(13) > a:hover {
    color: #c562a5;
  }
  .navbar .nav > li:nth-child(13).open a,
  .navbar .nav > li:nth-child(13).open .dropdown-menu {
    background-color: #c562a5;
  }
  .navbar .nav > li:nth-child(13).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(13).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(15) > a:hover {
    color: #33cccc;
  }
  .navbar .nav > li:nth-child(15).open a,
  .navbar .nav > li:nth-child(15).open .dropdown-menu {
    background-color: #33cccc;
  }
  .navbar .nav > li:nth-child(15).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(15).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(17) > a:hover {
    color: #e01c44;
  }
  .navbar .nav > li:nth-child(17).open a,
  .navbar .nav > li:nth-child(17).open .dropdown-menu {
    background-color: #e01c44;
  }
  .navbar .nav > li:nth-child(17).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(17).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(19) > a:hover {
    color: #000000;
  }
  .navbar .nav > li:nth-child(19).open a,
  .navbar .nav > li:nth-child(19).open .dropdown-menu {
    background-color: #000000;
  }
  .navbar .nav > li:nth-child(19).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(19).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(21) > a:hover {
    color: #004db3;
  }
  .navbar .nav > li:nth-child(21).open a,
  .navbar .nav > li:nth-child(21).open .dropdown-menu {
    background-color: #004db3;
  }
  .navbar .nav > li:nth-child(21).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(21).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(23) > a:hover {
    color: #000000;
  }
  .navbar .nav > li:nth-child(23).open a,
  .navbar .nav > li:nth-child(23).open .dropdown-menu {
    background-color: #000000;
  }
  .navbar .nav > li:nth-child(23).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(23).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .nav > li:nth-child(25) > a:hover {
    color: #c562a5;
  }
  .navbar .nav > li:nth-child(25).open a,
  .navbar .nav > li:nth-child(25).open .dropdown-menu {
    background-color: #c562a5;
  }
  .navbar .nav > li:nth-child(25).open > a:hover {
    color: #ffffff;
  }
  .navbar .nav > li:nth-child(25).open .dropdown-menu a:hover {
    opacity: 0.8;
  }
  .navbar .dropdown-menu {
    width: calc(100% + 2px);
  }
  .navbar .dropdown-menu li {
    display: inline-block;
  }
  .navbar-collapse {
    padding: 0 0 0 0;
    width: calc(100% - 30px);
  }
}
